.vscode/launch.json
.vscode/tasks.json
paymentContext/paymentContext.Domain/Class1.cs
paymentContext/paymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.deps.json
paymentContext/paymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.dll
paymentContext/paymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Domain.pdb
paymentContext/paymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Shared.dll
paymentContext/paymentContext.Domain/bin/Debug/netstandard2.0/PaymentContext.Shared.pdb
paymentContext/paymentContext.Domain/obj/paymentContext.Domain.csproj.nuget.dgspec.json
paymentContext/paymentContext.Domain/obj/project.assets.json
paymentContext/paymentContext.Domain/obj/project.nuget.cache
paymentContext/paymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csproj.CopyComplete
paymentContext/paymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csproj.CoreCompileInputs.cache
paymentContext/paymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csproj.FileListAbsolute.txt
paymentContext/paymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.csprojAssemblyReference.cache
paymentContext/paymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.dll
paymentContext/paymentContext.Domain/obj/Debug/netstandard2.0/PaymentContext.Domain.pdb
paymentContext/paymentContext.Shared/obj/Debug/netstandard2.0/PaymentContext.Shared.csprojAssemblyReference.cache
paymentContext/paymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Domain.dll
paymentContext/paymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Domain.pdb
paymentContext/paymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Shared.dll
paymentContext/paymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Shared.pdb
paymentContext/paymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Tests.deps.json
paymentContext/paymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Tests.dll
paymentContext/paymentContext.Tests/bin/Debug/netcoreapp3.1/PaymentContext.Tests.pdb
paymentContext/paymentContext.Tests/obj/paymentContext.Tests.csproj.nuget.dgspec.json
paymentContext/paymentContext.Tests/obj/project.assets.json
paymentContext/paymentContext.Tests/obj/project.nuget.cache
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.AssemblyInfo.cs
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.AssemblyInfoInputs.cache
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.assets.cache
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.csproj.CoreCompileInputs.cache
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.csproj.FileListAbsolute.txt
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.csprojAssemblyReference.cache
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.dll
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.pdb
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.pdb
paymentContext/paymentContext.Tests/obj/Debug/netcoreapp3.1/PaymentContext.Tests.csproj.CoreCompileInputs.cache
